<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KAR_Lot_SmartClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KAR_Lot_SmartClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <KAR_Lot_SmartClient.My.MySettings>
            <setting name="KAR_Lot_SmartClient_karservices_cactus_smartclient_kar_smartclient_webservice" serializeAs="String">
                <value>http://guymon-ok.karservices.com/Webservice/Eservice.asmx</value>
            </setting>
            <setting name="KAR_Lot_SmartClient_karservices_cactus_webservices_Service" serializeAs="String">
                <value>http://guymon-ok.karservices.com/Webservice/service.asmx</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">                                                                                                                                                                                   
                <value>SomeApiKey</value>
            </setting>
            <setting name="ViewLegacyPalletInfoOnDockCallout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewLegacyPalletInfoOnDockCallin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanEditPalletOnDockCallout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewPalletLoadDataOnDockCallin" serializeAs="String">
                <value>True</value>
            </setting>
        </KAR_Lot_SmartClient.My.MySettings>
    </applicationSettings>
    <userSettings>
        <KAR_Lot_SmartClient.My.MySettings>
            <setting name="EnhancedWebServicePath" serializeAs="String">
                <value>/webservice/eservice.asmx</value>
            </setting>
            <setting name="BasicWebServicePath" serializeAs="String">
                <value>/webservice/service.asmx</value>
            </setting>
            <setting name="DataExportPath" serializeAs="String">
                <value>c:\karlot\export</value>
            </setting>
            <setting name="DataCacheDirectory" serializeAs="String">
                <value>c:\karlot\cache</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>Network</value>
            </setting>
            <setting name="CarriersCacheFile" serializeAs="String">
                <value>carriers.xml</value>
            </setting>
            <setting name="InboundSheetCacheFile" serializeAs="String">
                <value>inbound.xml</value>
            </setting>
            <setting name="ActiveTrailersCacheFile" serializeAs="String">
                <value>ActiveTrailers.xml</value>
            </setting>
            <setting name="StationID" serializeAs="String">
                <value>TMP</value>
            </setting>
            <setting name="WashMode" serializeAs="String">
                <value>WashOnly</value>
            </setting>
            <setting name="HelpURL" serializeAs="String">
                <value>/help/karlot%20faq.html</value>
            </setting>
            <setting name="LayoutURL" serializeAs="String">
                <value>/layout.kar.txt</value>
            </setting>
            <setting name="BackgroundURL" serializeAs="String">
                <value>/dispatch_bg.png</value>
            </setting>
            <setting name="EnhancedTasking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalKarLotServer" serializeAs="String">
                <value>guymon-ok.karservices.com</value>
            </setting>
            <setting name="RemoteWebServer" serializeAs="String">
                <value>guymon-ok.karservices.com</value>
            </setting>
            <setting name="LocalServerPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RemoteServerPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="HttpsRemote" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowTrailerCheckInOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowBarcodeActivation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApiBaseURL" serializeAs="String">
                <value>http://guymon-ok.karservices.com/api/</value>
            </setting>
        </KAR_Lot_SmartClient.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
